<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Início - Portfólio de Gabriel Sanches Dolenc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Início</a></li>
                <li><a href="{{ url_for('contact') }}">Contato</a></li>
            </ul>
        </nav>
        <h1>Gabriel Sanches Dolenc</h1>
        <p>Desenvolvedor</p>
    </header>
    <main>
        <section>
            <h2>Sobre Mim</h2>
            <p>Olá! Meu nome é Gabriel Sanches Dolenc. Sou um desenvolvedor. estudei algumas linguagens de programação e estou sempre buscando aprender e evoluir no campo do desenvolvimento, Nesse momento estou cursando Ciências da Computação
         Faculdade Unimax </p>
        </section>
        <section>
            <h2>Minhas Habilidades</h2>
            <p>Conheça algumas das minhas habilidades:</p>
            <ul>
                <li>Idiomas de Programação: Python, C++, JavaScript, java, React,Flutter  </li>
                <li>Motores de Jogo: Unity, Unreal Engine</li>
                <li>Ferramentas: Git </li>
            </ul>
        </section>
    </main>
</body>
</html>
